<% include ./partials/header.ejs %>
<div class="container">
    <h1><%= message %></h1>
    <form action="/thankyou" class="form-group" method="POST">
        <div class="form-group">
            <label>First Name: </label> <input type="text" name="firstName" class="form-control"><br />
            <label>Last Name: </label> <input type="text" name="lastName" class="form-control"><br />
            <label>Email: </label> <input type="email" name="email" value="<%= username %>" class="form-control" /><br />
            <label>Favorite food: </label> <input type="text" name="favFood" class="form-control"><br />
            <label>Interesting fact about yourself: </label> <input type="text" name="fact" class="form-control"><br />
            <label>Your comments: </label> <textarea name="comment" class="form-control"></textarea><br>
            <input type="submit" value="Submit" name="submit" class="btn btn-lg btn-danger">
        </div>
    </form>
</div>
<% include ./partials/footer.ejs %>