<% include ./partials/header.ejs %>
<div class="container">
    <h1><%= message %></h1>
    <img class="ml-auto mr-auto" style="width: 500px;"src="./img/mkovb.jpg" alt="Borat"><br>
    <a href="/list_feedback" class="btn btn-danger">View feedback</a>
</div>
<% include ./partials/footer.ejs %>